@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Lato', sans-serif;

}

nav ul{
    align-items: center;
    display: flex;
    list-style-type: none;
    height: 80px;
    background-color: black;
    color: aliceblue;
}

nav ul li{

    padding: 0 12px;

}

.brand img{
    width: 32px;
    padding: 8px;
}


.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 90vh;
    background-color: black;
    color: rgb(239, 243, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg1.jpg");
    background-size:cover;

}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icons{
    margin-top: 16px;
    
}

#myProgressBar{
    width: 80vw;
    text-align: center;
}

.songItemContainer{

    margin-top: 70px;
}
.songItem{
    height:50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 10px 00px;

}

.songItem img{
    width: 35px;
    margin: 0 23px;
    border-radius: 39px;

}
.timestamp{
    margin: 0 23px;
    
}
.timestamp i{
    cursor: pointer;
    
}